script
  function installMe() {
    console.log("Instlal me!");
    console.log(typeof navigator.mozApps);
    console.log(typeof navigator.mozApps.install);
    navigator.mozApps.install("http://#{ ip_address }/manifest.webapp");
    console.log("installed");
    return false;
  }


h2 I like pie!

button(onclick="return installMe();") Install me!
